@import "tailwindcss";



@font-face {
  font-family: "Vazirmatn";
  src: url(../src/assets/fonts/Vazirmatn-Bold.ttf);
  /* font-weight: 700; */
}
@font-face {
  font-family: "Vazirmatn";
  src: url(../src/assets/fonts/Vazirmatn-Medium.ttf);
  font-weight: 500;
}
@font-face {
  font-family: "Vazirmatn";
  src: url(../src/assets/fonts/Vazirmatn-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: "Vazirmatn";
  src: url(../src/assets/fonts/Vazirmatn-Light.ttf);
  font-weight: 300;
}


@theme {
    /* Color coustom */
    --color-primary: #FA541C;
    --color-primary-400: #FB7649;
    --color-primaryBack : #FEEEE8;
    --color-background: #FFFFFF;
    --color-secondary: #032340;
    --color-secondery-700: #021425;
    --color-secondaryBack: #EBF5FF;
    --color-secondaryCBCBCB: #CBCBCB;
    --color-secondarySky: #67AAE6;
    --color-Neutral: #f9f9f9;
    --color-NeutralSecondory :#606060;

    /* Font Family Custom */
    --font-vazirB: Vazirmatn , "sans-serif";
    --font-vazirR: Vazirmatn , "sans-serif";
    --font-vazirM: Vazirmatn , "sans-serif";
    --font-vazirL: Vazirmatn , "sans-serif";

    /* custom Animations */
}

@layer utilities {
   .clip-badge-shape {
      clip-path: polygon(0 25%, 100% 0, 100% 100%, 0% 100%);
  }

  @keyframes fade-in {
    from {
      opacity: 0;
      transform: translateY(10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .animate-fade-in {
    animation: fade-in 0.5s ease-in-out;
  }

    @keyframes wiggle {
    0%, 100% {
      transform: rotate(-3deg);
    }
    50% {
      transform: rotate(3deg);
    }
  }

  .animate-wiggle {
    animation: wiggle 0.5s ease-in-out infinite;
  }

}

/* در فایل CSS global یا index.css اضافه کن */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}



body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* {
  font-family: "Vazirmatn";
}